---
title: Chicken On A Bun
---

<div id="restaurant-overview">
  {% for post in site.posts %}
  <div
    class="restaurant"
    data-date="{{ post.date }}"
    data-location="{% geocode_address post.address %}"
    data-rating="{{ post.rating | prepend: '0000' | slice: -4, 4 }}"
  >
    <h2><a href="{{ post.url }}">
      {{ post.title }}{% if post.rating %} ({{ post.rating }}/10){% endif %}
    </a></h2>
    {{ post.content }}
    {% if post.side-order %}
    <p><b>What to order on the side?</b> {{ post.side-order }}</p>
    {% endif %}
    <p>
      <b>Where?</b> {{ post.address }}{% if post.multiple-loc %} (multiple locations in {{
      post.multiple-loc }}){% endif %}
    </p>
    <p>
      <a href="{{ post.website }}">Website</a> |
      <a href="{{ post.foursquare-link }}">Foursquare</a>
    </p>
  </div>
  {% endfor %}
</div>
