$layout-breakpoint: 850px;

$background-color: #feb;
$box-color: #ffe;
$text-color: #444;

.distance-indicator {
  box-sizing: border-box;
  font-style: italic;
  padding: 10px;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  width: 200px;
}

.header-icon {
  height: 30px;
  vertical-align: middle;
}

.highlight {
  font-weight: bold;
}

.restaurant {
  background-color: $box-color;
  margin-bottom: 20px;
  padding: 20px;
  position: relative;
}

.sandwich-image {
  display: block;
  margin: 20px auto;
  max-width: 100%;
}

body {
  background-color: $background-color;
  color: $text-color;
  font-family: "Courier New", Courier, monospace;
  margin: 10px auto;
  padding: 0 20px;
  width: auto;
}

h1 {
  font-size: 30px;
}

h2 {
  margin-top: 0;

  a {
    color: $text-color;
    text-decoration: none;
  }
}

nav {
  margin-bottom: 20px;
}

p {
  margin: 10px 0;
}

.share-buttons {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
  text-align: center;

  img {
    width: 32px;
  }

  li {
    display: inline;
  }
}

@media screen and (min-width: $layout-breakpoint) {
  // Desktop stylesheet
  .header-icon {
    height: 60px;
  }

  body {
    margin: 60px auto;
    padding: 0;
    width: $layout-breakpoint;
  }

  h1 {
    font-size: 60px;
  }

  .share-buttons {
    img {
      width: 40px;
    }
  }
}
