body {
  margin: 60px auto;
  font-family: "Courier New", Courier, monospace;
  background-color: #eeeebb;
  color: #444444;
  width: 800px;
}

nav {
  margin-bottom: 20px;
}

h1 {
  font-size: 60px;
}

p {
  margin: 5px 0px 10px 0px;
}

.header-icon {
  vertical-align: middle;
  height: 60px;
}

.highlight {
  font-weight: bold;
}

.restaurant {
  background-color: #ffffee;
  padding: 10px 15px 10px 15px;
  margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
  body {
    margin: 10px auto;
    padding: 0 20px 0 20px;
    width: auto;
  }

  h1 {
    font-size: 30px;
  }

  .header-icon {
    vertical-align: middle;
    height: 30px;
  }
}
