body {
  margin: 60px auto;
  font-family: "Courier New", Courier, monospace;
  background-color: #ffffee;
  color: #444444;
  width: 800px;
}

h1 {
  font-size: 60px;
}

.highlight {
  font-weight: bold;
}
