.header-icon {
  height: 60px;
  vertical-align: middle;
}

.highlight {
  font-weight: bold;
}

.restaurant {
  background-color: #ffffee;
  margin-bottom: 20px;
  padding: 10px 15px 10px 15px;
}

.sandwich-image {
  display: block;
  margin: 20px auto;
  width: 600px;
}

body {
  background-color: #ffeebb;
  color: #444444;
  font-family: "Courier New", Courier, monospace;
  margin: 60px auto;
  width: 800px;
}

h1 {
  font-size: 60px;
}

h2 a {
  color: #444444;
  text-decoration: none;
}

nav {
  margin-bottom: 20px;
}

p {
  margin: 5px 0 10px 0;
}
