<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>
      {% if page.title == site.title %}Fried Chicken Sandwiches{% else %}
      {{ page.title }}{% endif %} | {{ site.title }}
    </title>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'" />
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/desktop.css" />
    <link rel="stylesheet" type="text/css" media="only screen and (max-width: 600px)" href="/assets/stylesheets/mobile.css" />
    <script type="text/javascript" src="/assets/javascripts/scripts.js"></script>
    {% seo title=false %}
    {% include favicons.html %}
  </head>
  <body>
    <h1>
      <img src="/assets/images/chicken.png" alt="Chicken icon" class="header-icon" />{{ page.title }}
    </h1>
    {% include navigation.html %} {{ content }}
  </body>
</html>
