---
layout: default
---

<div class="restaurant">
  {{ content }}
  {% if page.rating %}<p><b>Rating?</b> {{ page.rating }}/10</p>{% endif %}
  {% if page.side-order %}
  <p><b>What to order on the side?</b> {{ page.side-order }}</p>
  {% endif %}
  <p>
    <b>Where?</b> {{ page.address }}{% if page.multiple-loc %} (multiple locations in {{
      page.multiple-loc }}){% endif %}
  </p>
  <p>
    <b>Links?</b> <a href="{{ page.website }}">Website</a> |
    <a href="{{ page.foursquare-link }}">Foursquare</a>
  </p>
  {% if page.image %}<p>
    <img src="{{ page.image }}" alt="{{ page.title }} sandwich" class="sandwich-image" />
  </p>{% endif %}
  <p>
    We visited this restaurant on {{ page.date | date: '%B %d, %Y' }} and updated this
    review on {{ page.last_modified_at | date: '%B %d, %Y' }}.
  </p>
</div>
